:host{
    display: flex;
    flex-direction: column;
    text-align: center
}

.material-icons{
    align-self: center;
    color: rgb(89, 93, 102);
    font-size: 45px;
    margin-top: 20px;
    margin-bottom: -20px;
}

p{
    margin-bottom: 0px;
}

.wrap{
    display: grid;
    width: 600px;
    align-self: center;
    grid-template-columns: 1fr 1fr 1fr;
}

.lists, .new{
    display: flex;
    flex-direction: column;
    color: rgb(72, 75, 82);
    background: rgb(222, 230, 248);
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
    margin: 20px;
    min-height: 130px;
    width: 160px;
    font-size: 25px;
    cursor: pointer;
}

.new{
    background: rgb(173, 192, 233);
}

.lists:hover, .new:hover{
    background: rgb(170, 183, 214);
    transition: 0.2s;
}