<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

<div class="wrap">
    <div class="new" routerLink="-1/edit" routerLinkActive="here">
        <span class="material-icons">add</span>
        <p>Create New</p>
    </div>

    <div *ngFor="let list of (toDoLists$ | async)" routerLink="{{list.id}}" routerLinkActive="here" class="lists">
            <span class="material-icons" [style.color]="list.color">{{list.icon}}</span>
            <p>{{list.caption}}</p>
    </div>
</div>