<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

<div class="intro">
    <div class="details">
        <h1>Todos app</h1>
        <h2>By: {{developerName}}</h2>
        <h3>{{today}}</h3>
    </div>

    <div class="buttons">
        <button routerLink="../lists/-1/edit">Create a new list</button>
        <button routerLink="../lists">View all lists</button>
        <button routerLink="../items">View all items</button>
    </div>
</div>

<div class="seperator"></div>

<div class="active-info">
    <div class="icon">
        <span class="material-icons">format_list_bulleted</span>
        <h2 class="number">{{numberOfTodoLists$ | async}}</h2>
        <h2 class="name">Lists</h2>
    </div>

    <div class="icon">
        <span class="material-icons">assignment_turned_in</span>
        <h2 class="number">{{numberOfTodoItems$ | async}}</h2>
        <h2 class="name">Todo Items</h2>
    </div>

    <div class="icon">
        <span class="material-icons">assignment</span>
        <h2 class="number">{{numberOfActiveTodoItems$ | async}}</h2>
        <h2 class="name">Active Items</h2>
    </div>
</div>