<div class="form">
    <div class="form-field">
        <label>Caption: </label>
        <input type="text">
    </div>

    <div class="form-field">
        <label>Description: </label>
        <textarea></textarea>
    </div>

    <div class="form-field">
        <label>Icon: </label>
        <select name="cars" class="cars">
            <option value=""></option>
            <option value="work">Work</option>
            <option value="shopping">Shopping</option>
            <option value="fun">Fun</option>
            <option value="events">Events</option>
            <option value="flagged">Flagged</option>
            <option value="new">New</option>
        </select>
    </div>

    <div class="form-field">
        <label>Color: </label>
        <select name="colors" class="colors">
            <option value=""></option>
            <option class="red" value="red">red</option>
            <option class="green" value="green">green</option>
            <option class="blue" value="blue">blue</option>
            <option class="steelblue" value="steelblue">steelblue</option>
            <option class="magenta" value="magenta">magenta</option>
            <option class="brown" value="brown">brown</option>
            <option class="orange" value="orange">orange</option>
        </select>
    </div>

    <div class="buttons">
        <button>Save</button>
    </div>
</div>
